.dft-col-chart {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.dft-col-chart .col-wrap {
  --r: var(--radius-md);
  height: 100%;

  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 2rem;

  .col-bar {
    height: 100%;

    .bar {
      width: 50px;
      border-radius: var(--r);
      transition: all 0.4s;
      min-height: 4px;
    }
  }

  .col-sep {
    background-color: black;
  }

  .col-name {
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
