.dft-input-radio > .radio-options {
  .option {
    padding: 8px;
    cursor: pointer;
    line-height: 1;
  }

  .option .icon {
    margin: 0 0.6em 0 0;
    position: relative;

    width: 20px;
    height: 20px;

    .dft-icon {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
}
