.main-context-menu {
  min-width: 240px;

  position: fixed;
  top: 31px;
  left: 120px;

  background-color: var(--color-base-200);
  border-radius: var(--radius-box);

  padding: 0.5rem 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 100;
  font-size: 0.8rem;
  max-height: 50vh;

  /* overflow: hidden; */
  box-shadow: 0px 0px 12px #0002;

  /* backdrop-filter: blur(10px); */
}

.main-context-menu .option {
  height: 20px;
  width: 100%;
  padding: 1rem 0.5rem 1rem 0.5rem;

  font-size: 1em;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;

  font-weight: 500;
  min-height: 38px;

  transition: background-color 0.1s;
  cursor: pointer;

  border-radius: var(--radius-box);
  position: relative;
}

.main-context-menu .option .icon {
  width: 30px;
}

.main-context-menu .option:not(.disabled):hover {
  background-color: #0001;
}

.main-context-menu .option svg {
  font-size: 25px;
}

.option .submenu {
  position: absolute;
  top: -5px;
  left: 100%;
  height: 100%;

  padding: 0px 10px;
}

.option .submenu.overflow-x {
  left: unset;
  right: 100%;
}

.option .submenu .main-context-menu {
  display: none;
  position: relative;

  /* overflow-x: hidden; */
  /* overflow-y: auto; */
}

.option .submenu .main-context-menu::-webkit-scrollbar {
  width: 3px;
}

.option .submenu .main-context-menu::-webkit-scrollbar-thumb {
  background-color: var(--page-color-dark);
}

.option:hover > .submenu > .main-context-menu {
  display: block;
}

@keyframes float-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
