.dft-table {
  overflow-y: auto;
  position: relative;
}

.dft-table .t-row {
  display: flex;
  padding: 0.25rem 0;
  align-items: center;
  z-index: 0;

  transition: all 85ms;
  margin: 4px 0;
  border-radius: 8px;

  max-width: 100%;
}

.dft-table .t-row:hover {
  background-color: #00000006;
}

.dft-table .t-row.active {
  background-color: #00000012;
  transform: translateY(-4px);
}

.dft-table .t-row .t-col {
  padding: 0.25rem 0.5rem;
  overflow: hidden;
}

.dft-table .t-header {
  position: sticky;
  top: 0px;

  z-index: 5;
}

.dft-table .t-header .t-row {
  font-weight: 700;
  color: var(--color-primary-content);
  background-color: var(--color-primary);
}
