.fade-in {
  animation: key-fade-in 0.4s forwards;
}

@keyframes key-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: key-fade-out 0.4s forwards;
}

@keyframes key-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.waving {
  animation: key-waving 0.2s 4 linear alternate forwards;
}

@keyframes key-waving {
  0% {
    transform: translateX(6px) rotate(-10deg);
  }
  50% {
    transform: translateY(-7px) rotate(-45deg);
  }
  100% {
    transform: translateX(-5px) rotate(-75deg);
  }
}

.pivot-tleft {
  animation: key-pivot 4s forwards;
}

@keyframes key-pivot {
  0% {
    transform: rotate(0deg);
    transform-origin: top left;
  }
  20% {
    transform: rotate(130deg);
  }
  40% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(110deg);
  }
  80% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.slide-right-in {
  animation: key-slide-right-in 0.3s forwards;
}

@keyframes key-slide-right-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.slide-right-out {
  animation: key-slide-right-out 0.3s forwards;
}

@keyframes key-slide-right-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.slide-left-in {
  animation: key-slide-left-in 0.3s forwards;
}

@keyframes key-slide-left-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.lets-gooo {
  transform: translateX(100vw);
  animation: key-lets-gooo 2.5s 0.3s forwards;
  animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}

@keyframes key-lets-gooo {
  0% {
    transform: translateX(100vw);
  }

  90% {
    transform: translateX(-90%);
    /* opacity: 1; */
  }
  100% {
    transform: translateX(-100%);
    /* opacity: 0; */
  }
}
