.dft-btt {
  font-family: inherit;
  cursor: pointer;
  height: fit-content;
  user-select: none;
}

.dft-btt:hover {
  filter: brightness(0.85);
  transform: translateY(-1px);
}

.dft-btt:active {
  transform: translateY(0px);
}

.flex > .dft-btt {
  flex: 1;
}
